{{#>layout title="Project Detail" }}

  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="d-flex p-5 gap-3   row-cols-md-2 blog-content w-75 my-5 border border-dark " style="height: 450px;
      background-color: var(--retro-pale-green); box-shadow: 12px 12px 12px var(--retro-grey)">
      <div class=" blog-image">
        <img class="col object-fit-cover border rounded" style="width: 350px; height:350px; " src="{{data.image}}"
          alt="content-image">
      </div>
      <div class="col blog-content d-flex flex-column">
        <h1>{{data.title}}</h1>
        <div class="stack-tech my-3 d-flex gap-5">
          {{{getStack data.teknologi}}}
        </div>
        <p class="fs-5 my-3 ">{{getDuration data.dateStart data.dateEnd}}</p>
        <article class="fs-4 flex-fill d-flex">
          <p class="text-wrap word-wrap text-break w-100 ">{{data.content}}</p>
        </article>
      </div>
    </div>

  </div>
{{/layout }}